*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    
}
$color-letra: rgb(14, 12, 12);
$estruc: inline-block;
@mixin parametras($estruc){
    display: $estruc;
    font-size: 13px;
    text-decoration: none;
    list-style: none;
    color:$color-letra;
    width: 18%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    
}

a{
    
    text-align:center;
    align-items: center;       
    justify-content: center;
  @include parametras($estruc);
}
a:hover{
    background: rgb(155, 156, 154,0.15);
    font-size: 18px;
    width: 200px;
    text-align: center;
}
.conteiner > *{
    box-shadow: -1px 1px 7px 0px rgba(0,0,0, 0.75) ;
    border-radius:4px ;
    padding: 10px;
    text-align: center;
}
.header{
    grid-area: header;
}
.main{
    grid-area: main;
}
.fooder{
    grid-area: fooder;
}

#img1{
    width: 100%;
    height: 100%;
}
#descripcion{
    display: inline-block;
    background-color: rgba(250, 248, 248, 0);
    position: absolute;
    height: 30%;
    width: 20%;
    top:120px;
    right: 0px;
    left: 200px;
}

#texto{
    color: $color-letra;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

#logo{
    contain: layout inline-size;
    display:inline-block;
    background-color: rgb(191, 216, 201);
    position: absolute;
    height: 30%;
    width: 50%;
    top:90px;
    left: 490px;
    right:25px ;
}

form{
    width:450px;
    margin: auto;
    background: rgba(0,0,0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
  }
.footer{
    color: $color-letra;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
@media only screen and (max-width:700px){
    a{
        margin-left: 40%;
      @include parametras(flex);
    }
 
    #texto{
        color: rgb(7, 7, 7);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 10px;
        margin-left: 5px;
        margin-top: 75px;
        direction: row;
    }
    
    #logo{
    
        background-color: rgb(191, 216, 201);
        position: absolute;
        height: 15%;
        width: 30%;
        top:380px;
        left: 180px;
        right:25px ;
    }
}
@media only screen and (min-width:500px){}

